[Desktop Entry]
Version=1.0
Type=Link
Name=Google Docs
Comment=Edit your Docs online with Google Account
Icon=x-office-spreadsheet
URL=https://docs.google.com/
Categories=Office;GTK;
