[Desktop Entry]
Version=1.0
Type=Link
Name=MS Office
Comment= Edit your Docs online with Microsoft Account
Icon=ms-office
URL=https://www.office.com/
Categories=Office;GTK;
