[Desktop Entry]
Name[ast]=Cawbird
Name[ca]=Cawbird
Name[de]=Cawbird
Name[eo]=Cawbird
Name[es]=Cawbird
Name[es_419]=Cawbird
Name[fi]=Cawbird
Name[fr]=Cawbird
Name[ga]=Cawbird
Name[gl]=Cawbird
Name[id]=Cawbird
Name[it]=Cawbird
Name[ja]=Cawbird
Name[ko]=코어버드
Name[lt]=Cawbird
Name[nb]=Cawbird
Name[nl]=Cawbird
Name[pl]=Cawbird
Name[pt]=Cawbird
Name[pt_BR]=Cawbird
Name[ru]=Cawbird
Name[sr]=Корберд
Name[sr@latin]=Cawbird
Name[zh_CN]=Cawbird
Name[zh_TW]=Cawbird
Name=Cawbird
GenericName[ar]=عامل تويتر
GenericName[ast]=Veceru pa Twitter
GenericName[ca]=Client del Twitter
GenericName[ca@valencia]=Client del Twitter
GenericName[de]=Twitter Client
GenericName[eo]=Tviterokliento
GenericName[es]=Cliente Twitter
GenericName[es_419]=Cliente de Twitter
GenericName[es_MX]=Cliente de Twitter
GenericName[es_VE]=Cliente de Twitter
GenericName[fi]=Twitter-sovellus
GenericName[fr]=Client Twitter
GenericName[gl]=Cliente para o Twitter
GenericName[hu]=Twitter kliens
GenericName[id]=Twitter Klien
GenericName[it]=Client Twitter
GenericName[ja]=Twitter Client
GenericName[ko]=트위터 클라이언트
GenericName[lt]=Twitter klientas
GenericName[nb]=Twitter-klient
GenericName[nl]=Twittertoepassing
GenericName[pl]=Klient Twittera
GenericName[pt]=Cliente de Twitter
GenericName[pt_BR]=Cliente Twitter
GenericName[ro]=Client Twitter
GenericName[ru]=Клиент Твиттер
GenericName[sr]=Твитер клијент
GenericName[sr@latin]=Twitter klijent
GenericName[tr]=Twitter İstemcisi
GenericName[uk_UA]=Twitter-клієнт
GenericName[zh_CN]=Twitter 客户端
GenericName[zh_TW]=Twitter用戶端
GenericName=Twitter Client
Comment[ast]=Usa Twitter dende una aplicación d'escritoriu normal
Comment[ca]=Utilitza Twitter en una aplicació d'escriptori normal
Comment[de]=Nutzen Sie Twitter in einer normalen Desktopanwendung
Comment[eo]=Uzi Tviteron simila al normala komputerprogramo
Comment[es]=Usa Twitter desde una aplicación de escritorio normal
Comment[fi]=Käytä Twitteriä tavallisella työpöytäsovelluksella
Comment[fr]=Utiliser Twitter depuis une application de bureau classique
Comment[gl]=Use Twitter desde un aplicativo de escritorio
Comment[id]=Gunakan Twitter dari aplikasi desktop normal
Comment[it]=Usa Twitter come una normale applicazione desktop
Comment[ja]=通常のデスクトップアプリケーションからTwitterを使用する
Comment[ko]=일반 데스크탑 앱에서 트위터 사용하기
Comment[lt]=Naudokitės Twitter normalioje darbalaukio programoje
Comment[nb]=Bruk Twitter som et vanlig skrivebordsprogram
Comment[nl]=Gebruik Twitter vanuit een normale bureaubladtoepassing
Comment[pl]=Korzystanie z Twittera w zwykłym programie
Comment[pt]=Usar o Twitter de uma aplicação de desktop normal
Comment[pt_BR]=Use o Twitter de um aplicativo desktop normal
Comment[ru]=Пользуйтесь Твиттером как обычным приложением
Comment[sr]=Користите Твитер помоћу обичног рачунарског програма
Comment[sr@latin]=Koristite Twitter pomoću običnog računarskog programa
Comment[zh_CN]=桌面应用般的 Twitter 使用体验
Comment[zh_TW]=在普通的桌面應用程式內使用 Twitter
Comment=Use Twitter from within a normal desktop application
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ast]=twitter;
Keywords[ca]=twitter;
Keywords[de]=twitter;
Keywords[eo]=twitter;tvitero;
Keywords[es]=twitter;
Keywords[fi]=twitter;
Keywords[fr]=twitter;
Keywords[gl]=twitter;
Keywords[id]=twitter;
Keywords[it]=Twitter;
Keywords[ko]=트위터;
Keywords[lt]=twitter;
Keywords[nb]=twitter;
Keywords[nl]=twitter;
Keywords[pl]=twitter;
Keywords[pt]=twitter;
Keywords[pt_BR]=twitter:
Keywords[ru]=twitter;
Keywords[sr]=twitter;tviter;твитер;
Keywords[sr@latin]=twitter;tviter;tviter;
Keywords[zh_CN]=twitter;
Keywords[zh_TW]=twitter;
Keywords=twitter;
Exec=cawbird
Type=Application
# TRANSLATORS: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=uk.co.ibboard.cawbird
Categories=Network;GTK;
DBusActivatable=true
StartupWMClass=cawbird
