#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=MsOffice
Comment=MsOfficeOnline (Ice SSB)
Exec=exo-open --launch WebBrowser %u --app=https://www.office.com/ --class=ICE-SSB-office
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/usblinux/icons/msoffice.png
Categories=GTK;Network;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=ICE-SSB-msOofice
StartupNotify=true
Name[en_US]=MsOffice
